body{
    background: url(https://image.freepik.com/foto-gratis/sabrosa-hamburguesa-aros-cebolla_23-2147684637.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed    
}
header{
    width: 100%; 
    background: black; 
    color: white;
    margin: 0; 
    text-align: center; 
}
#contenido{
    display: flex; 
    flex-wrap: wrap; 
}

#pantalla{
    width: 60%;
}

#pedido-cliente{
    border: 2px solid black;
    /* float: right; */
    width: 40%;
    height: 50%;
    background:rgba(255,255,255, 0.9);
}
.input{
    margin: 0.5%;
}
.boton{
    margin: 0.5%;
}
span{
    display: block;
}
#contenedor-desayuno, #contenedor-almuerzo-cena{
    display: inline;
}
p{
    display: inline;
    margin: 1%;
}
table{
    margin: 1%;
}